<div class="row">
  <div class="col-xs-12">

      總共 <%= count_request %> 個交友請求:
      <!-- need_confirmers -->
      <%= render partial: "shared/users_relationships", locals: {relationships: @need_confirmers, title_text: '對方提出的請求', collapse_target: 'need_confirmers'} %> 
      <!-- need_confirmers -->
      <%= render partial: "shared/users_relationships", locals: {relationships: @waiting_confirmers, title_text: '你提出的請求', collapse_target: 'waiting_confirmers'} %> 
    </div>

  </div>
</div>