div.container:not(#nav-container){
  margin-top: 60px;
}

.navbar-default .navbar-nav > li.non-hover > a:hover{
  color: #777;
}

.navbar-brand{
  font-family: 'Shrikhand', cursive;
  font-size: 40px;
}

.navbar-nav > li.with_icon > a{
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-icon{
  height: 30px;
  width: 30px;
}

.glyphicon.glyphicon-log-out{
  font-size: 20px;
}

.table > tbody > tr > td{
  vertical-align: middle;
  font-family: 'Comfortaa', cursive;
}

.footer{
  background-color: #e7e7e7;
  bottom: 0;
  width: 100%;
}

.navbar-default .navbar-nav > li > a.nav-text{
  font-family: 'Comfortaa', cursive;
  color: black;
  vertical-align: middle;
}

h1, label{
  font-family: 'Comfortaa', cursive;
}

.restaurant-item {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 20px;
}

.restaurant-item img {
  max-height: 180px;
  width: 100%;
}

.restaurant-item .caption {
  padding: 10px;
}


